*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(112, 137, 224);
}

#container{
    height: 50vh;
    width: 91%;
    border: 4px solid rgb(175, 171, 230);
    margin-left:4vw ;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 7px 7px 5px rgb(34, 37, 223), -7px -7px 5px rgb(54, 51, 51);
    background-color:rgb(225, 233, 245);
}

.header{
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
}

.box{
    background-image: url("fancy.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    
    background-color: rgb(93, 118, 228);
    margin: 0;
    padding: 0;
    height: 12vh;
    width: 4.5vw;
    border: 2px solid rgb(99, 123, 231);
}

.box:hover{
   background-color: skyblue;
}

.screen{
    width: 100%;
    height: 60vh;
    
}



.selected{
    background-color:rgb(140, 127, 255);
}
